 <p>
    <strong>Name:</strong>
    <%= reply.name %>
  </p>
 <p>
    <strong>Date:</strong>
    <%= reply.date %>
  </p>
  <p>
    <strong>Reply:</strong>
    <%= reply.reply %>
  </p>
  <p>
      <%= link_to 'Destroy Comment', [reply.article, reply],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
  </p>