<% if (current_user.email.split("@").last == ('uncc.edu')) %>
<h1>New 49er Blog</h1>
<div id="rules_link"><%= link_to 'Posting Rules', '/rules' %></div>
<%= render 'form' %>
<%= link_to 'Back', articles_path %>
<% else %>
<h1>49er Blogs</h1>
<h3> Sorry you must be signed in with a 'UNCC' e-mail address!</h3>
<%= link_to 'Go Back Home', root_path %>
<% end %>