<h1>49er Blogs</h1>
<div id = 'newButton'>
<%= button_to "New Blog Post", new_article_path, :method => "get" %>
</div>
<div id='viewButton'>
<%= button_to "View Posts", articles_path, :method => "get" %>
</div>
<div id='rulesButton'>
<%= button_to "Rules Page", '/rules', :method => "get" %>
</div>