<h1>49er Blogs</h1>
<div id = 'newButton'>
<%= button_to "New Blog Post", new_article_path, :method => "get" %>
</div>
<div id='viewButton'>
<%= button_to "View Posts", articles_path, :method => "get" %>
</div>
<div id='rulesButton'>
<%= button_to "Rules Page", '/rules', :method => "get" %>
</div>
<br><br><br><br><br>
<p id="welcome"><b>Welcome to 49er Blogs! We aim to help future 49ers make sure they are choosing the right school! Current students at UNC Charlotte
serve as influencers on this blog. Future students will find all of the news and updates on campus and pertaining to the application process. 
Refer to the Rules Page for posting and response guidelines. Only students of UNC Charlotte are allowed to post to this blog, however
future 49ers may feel free to reply!</b></p>