h1{
    font-size:150px;
    color:white;
    text-align: center;
    text-align: top;
    padding-bottom: 20px;
}

body{
    background: #239B56;
   
}

p{
    color: #DBD134;
   
}
a{
    color: gold;
}

table{
    
    padding-left: 350px;
    font-size: 30px;
}
th
{
    text-align: center;
}
td
{
    padding: 0 15px 0 15px;
    
}

#link{
    position: absolute;
   top: 0;
   right: 0;
}

#rules_link
{
    position:absolute;
    top: 0;
    right: 100px;
}
#home_link
{
    position: absolute;
    top:0;
    left: 700px;
    font-size: 30px;
}
#pic5
{
    position: absolute;
    height: 200px;
    right: 1130px;
    top:100px;
    left: 100px;
}
#pic6
{
    position: absolute;
    height: 200px;
    width: 225px;
    right: 100px;
    top: 100px;
}

nav.share{
    
    position: absolute;
    top: 800px;
    left: 550px;
    display: inline-block;
    padding-bottom: 30px;
   
}

iframe
{
    padding-left: 0px;
    display: inline-block;
}

nav.share div {float:left;}
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }

.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block;}
a data-pin-config
{
    position: absolute;
    padding-bottom: 100px;
    bottom: 50;
}

#welcome
{
    font-size: 30px;
}

