h1{
    font-size:150px;
    color:white;
    text-align: center;
    text-align: top;
    padding-bottom: 20px;
}

body{
    background: #239B56;
   
}

p{
    color: #DBD134;
   
}
a{
    color: gold;
   
}

table{
    
    padding-left: 400px;
    font-size: 30px;
}

#link{
    position: relative;
    bottom: 100px;
    padding-left: 700px;
}

#pic2
{
    position: relative;
    left: 975px;
}
#pic3
{
    position: relative;
    bottom:250px;
    right:535px;
}
#pic4
{
    position: relative;
    bottom: 200px;
    left: 375px;
}
#pic5
{
    position: relative;
    height: 200px;
    right: 1130px;
    top:250px;
}
#pic6
{
    position: relative;
    left: 1285px;
    top: 50px;
}