h1{
    font-size:150px;
    color:white;
    text-align: center;
    text-align: top;
    padding-bottom: 20px;
}

body{
    background: #239B56;
   
}

p{
    color: #DBD134;
   
}
a{
    color: gold;
   
}

table{
    
    padding-left: 400px;
    font-size: 30px;
}

#link{
    position: absolute;
   top: 0;
   right: 0;
}

#pic2
{
    position: relative;
    left: 975px;
}
#pic3
{
    position: relative;
    bottom:250px;
    right:535px;
}
#pic4
{
    position: relative;
    bottom: 200px;
    left: 375px;
}
#pic5
{
    position: relative;
    height: 200px;
    right: 1130px;
    top:250px;
}
#pic6
{
    position: relative;
    left: 1285px;
    top: 50px;
}

nav.share{
    
    position: relative;
    top: 100px;
    left: 300px;
    display: inline-block;
    padding-bottom: 30px;
   
}
nav.share div {float:left;}
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}