<h1>49er Blogs</h1>
<h3>Rules Page</h3>
<p>
    The following are a set of rules to follow when using this page:
</p>
<ul>
    <li>Post at your own risk</li>
    <li>Only UNCC Students are allowed to post</li>
    <li>Do not post any adult content</li>
    <li>Please refrain from using profanity or hate speech</li>
    <li>Do not post about other schools</li>
    <li>Do not post any copyrighted information</li>
    <li>Do not post any personal or confidential information, such as Student ID number or SSN</li>
</ul>
<%= link_to 'Blog List', articles_path %>